<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>Your Whiskey Collection. All in One Place!</h1>
    <h3>Keep track of what you've tried.</h3>
    <h3>Bought a bottle? How much is left?!</h3>
    <h3>Remember that dram? Add your notes for future reference!</h3>
    <p><%= link_to "Start Building Your Collection!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= image_tag "collection.png" %>
      <h1>My Collection</h1>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row-fluid">
    <% @whiskeys.each do |whiskey| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag whiskey.image.url(:medium), class: "image"), whiskey  %>
        </div>
      </div>

    <% end %>
  </div>
</div>
