<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Want to Keep Track of Your Whiskeys?</h1>
    <h2>What's your poison? </h2>
    <p><%= link_to "Sign Up to Add to the Collection", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <% @whiskeys.each do |whiskey| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag whiskey.image.url(:medium), class: "image"), whiskey %>
        </div>
      </div>

    <% end %>
  </div>
</div>
