// Place all the styles related to the Whiskeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#score {
  font-size: 2000%
}

#new-whiskey {
  padding-left: 5%;
  padding-right: 5%;
}


#show-page {
  background-color: rgb(252, 228, 121)
}

.thumbnail {
    border:0 !important;
}

.none-on-hand {
  font-style: italic;
  color: rgb(119, 9, 9)
}

.on-hand {
  color: rgb(3, 140, 83)
}

.navbar {
  margin-bottom: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.navbar {
    background:transparent !important;
}

.navbar-nav>li>a:hover {
color: #993308 !important;

}
.navbar-nav>li>a {
  color: #cc450b !important;
  font-size: 150%;
  font-weight: 700;
}

.navbar-brand {
  color: #c13a00 !important;
  font-size: 150%;
  font-weight: 700;
}

.navbar-brand {
  color: #cc450b !important;
  font-weight: 700;

}

.navbar-brand:hover {
color: #993308 !important;
}
