// Place all the styles related to the Whiskeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#score {
  font-size: 2000%
}

#new-whiskey {
  padding-left: 5%;
  padding-right: 5%;
}

.background-cover {
  background-image: url("../images/whiskey-glass-cover.jpg");
  background-size: cover;;

}
#show-page {
  background-color: rgb(252, 228, 121)
}

.thumbnail {
    border:0 !important;
}

.none-on-hand {
  font-style: italic;
  color: rgb(119, 9, 9)
}

.on-hand {
  color: rgb(3, 140, 83)
}

.signup-cover{
  background-image: image-url('pouring-whiskey.jpg');
  background-repeat: no-repeat;
  background-size:75%;
  background-position: right;
}
.signin-cover{
  background-image: image-url('whiskey-orange.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.account-cover{
  background-image: image-url('whiskey-couch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
